---
import "../styles/global.css";
import "../styles/projects.css";
const { project } = Astro.props;
import { marked } from "marked";
---

<div
  data-id={project.slug}
  data-filters={project.filters}
  class="project-wrapper z-1 relative inline-block mb-[3rem]"
>
  <div
    class="project dither bg-[#D9D9D9] w-full max-w-[24rem] mx-auto overflow-hidden rounded-lg border border-solid border-[#C4CDDE] border-[0.4rem] break-inside-avoid inline-block"
  >
    <div class="flex flex-row items-center">
      <div>
        <img src={`./imgs/projectimgs/${project.slug}.webp`} />

        <div class="flex flex-row items-center">
          <div class="ml-[0.7rem] w-full">
            <div
              class="inline-flex w-full gap-2 mt-[0.7rem] pr-[1.1rem] text-[1.1rem] items-center mb-[0.7rem]"
            >
              <p
                class="flex-1 mr-2"
                style="font-family:freesans; font-weight: 700;"
              >
                {project.name}
              </p>

              <div class="flex flex-row">
                <p
                  class="w-fit mr-2"
                  style="font-family:freesans; font-weight: 700; color:#A8A8A8; font-style: italic;"
                >
                  {project.date}
                </p>

                {
                  project.tag && (
                    <div
                      class="pl-[0.5rem] pr-[0.5rem] pt-[0.2rem] pb-[0.1rem] rounded-[3rem]"
                      style={`height:max-content; background-color: ${project.tagColor}`}
                    >
                      <p style="font-family:freesans; font-weight: 700; font-size: small;">
                        {project.tagText}
                      </p>
                    </div>
                  )
                }
              </div>
            </div>

            <div class="desc flex flex-row ml-[0.5rem] pr-[1.5rem] h-fit">
              <p
                class="h-fit leading-[1.3rem]"
                style="font-family:freesans; color:#414C60; font-size: 0.9 rem;"
                set:html={marked.parseInline(project.description)}
              />
            </div>

            <div class="flex flex-wrap mt-[1.5rem] mb-[1.5rem] gap-4">
              {
                project.buttons.map((buttonText: string, i: number) => (
                  <a
                    target="_blank"
                    href={project.buttonLinks[i]}
                    class="group link link-main text-[1.5rem] pr-[1.2rem] pl-[1.2rem] pb-[0.5rem] pt-[0.5rem] rounded-[0.5rem]"
                  >
                    <span class="flex items-center gap-1">
                      {buttonText}
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                      >
                        <path
                          fill="#000000"
                          d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"
                        />
                      </svg>
                    </span>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar pointer-events-none">
    <a
      class="sidebar-arrow flex flex-row gap-2"
      href={`#${encodeURIComponent(project.slug)}`}
    >
      <p
        class="text-[#C4CDDE]"
        style="font-family: freesans; font-weight: 700;"
      >
        read more
      </p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        fill="currentColor"
        height="32"
        viewBox="0 0 24 24"
      >
        <path
          fill="#C4CDDE"
          d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z"
        ></path></svg
      >
    </a>
  </div>
</div>

<dialog
  class="w-full h-full outline-none ml-[1rem] bg-transparent"
  id={`${encodeURIComponent(project.slug)}`}
>
  <div class="flex justify-center items-center w-full h-full">
    <a class="exit-backdrop absolute inset-0 cursor-default"></a>
    <div class="hidden">
      write "the pigeon strikes at midnight" in the guestbook if you found this
    </div>

    <div
      class="relative z-2 w-[95%] md:h-[90%] lg:w-[70%] h-[90%] rounded-xl bg-[#D9D9D9] border border-solid border-[#C4CDDE] border-[0.4rem] overflow-y-auto overflow-x-hidden"
    >
      <button
        class="exit-button absolute float-right top-0 right-0 z-10 exit m-[0.5rem] cursor-pointer button-dither bg-white border border-[0.2rem] p-[0.25rem] rounded-xl"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE -->
          <path
            fill="#de7514"
            d="m10 15.4l-5.9 5.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7L8.6 14H5q-.425 0-.712-.288T4 13t.288-.712T5 12h6q.425 0 .713.288T12 13v6q0 .425-.288.713T11 20t-.712-.288T10 19zm5.4-5.4H19q.425 0 .713.288T20 11t-.288.713T19 12h-6q-.425 0-.712-.288T12 11V5q0-.425.288-.712T13 4t.713.288T14 5v3.6l5.9-5.9q.275-.275.7-.275t.7.275t.275.7t-.275.7z"
          ></path></svg
        >
      </button>

      <div class="h-full">
        <div class="h-[65%] w-full">
          <div class="absolute text-white z-100 m-[1rem] w-fit h-fit bg-black">
            <p
              class="text-white p-[0.3rem] bg-black pr-[0.5rem] pl-[0.5rem] md:text-[1.3rem] leading-[1.3rem]"
              style="font-family: freesans; font-weight: 700; width:min-content"
            >
              {project.name}
            </p>
          </div>

          <img
            src={`./imgs/projectimgs/${project.slug}.webp`}
            class="w-full h-full object-cover"
            style="object-position: 50% 45%;"
          />
        </div>

        <div class="flex flex-row gap-4 m-[1rem] items-center">
          <p
            class="w-fit"
            style="font-family:freesans; font-weight: 700; color:#757575; font-style: italic;"
          >
            {project.date}
          </p>

          {
            project.tag && (
              <div
                class="pl-[0.5rem] pr-[0.5rem] pt-[0.2rem] pb-[0.1rem] rounded-[3rem]"
                style={`height:max-content; background-color: ${project.tagColor}`}
              >
                <p style="font-family:freesans; font-weight: 700; font-size: small;">
                  {project.tagText}
                </p>
              </div>
            )
          }
        </div>

        <div class="flex flex-row w-full justify-evenly mt-[1rem] mb-[1.5rem]">
          {
            project.buttons.map((buttonText: string, i: number) => (
              <a
                target="_blank"
                href={project.buttonLinks[i]}
                class="group link button-dither link-sec text-[1.2rem] md:text-[1.5rem] pr-[1rem] pl-[1rem] md:pr-[3rem] md:pl-[3rem] pb-[0.5rem] mt-[1rem] lg:mt-[0rem] pt-[0.5rem] rounded-sm"
              >
                <span class="flex h-min items-center gap-1">
                  {buttonText}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      fill="#000000"
                      d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"
                    />
                  </svg>
                </span>
              </a>
            ))
          }
        </div>

        <div class="w-full m-[1rem]">
          <p
            class="desc w-fit text-[#414C60] mr-[1.5rem] lg:mr-[0rem] text-[1rem] leading-[1.2rem] h-[4rem]"
            style="font-family: freesans;"
            set:html={marked.parseInline(project.extendedDesc)}
          />
        </div>
      </div>
    </div>
  </div>
</dialog>

<style>
  .desc :global(strong) {
    /* holy this is so cool */
    color: #de7514;
    font-weight: 700;
  }

  .desc :global(a) {
    text-decoration: underline wavy; /* dude this is incredible */
    text-decoration-color: #bf1bc7;
  }

  .desc :global(u) {
    text-underline-offset: 2px;
  }
</style>
